
	<h2>Recent Posts:</h2>

	<% @posts.last(10).reverse_each do |post| %>
<div id="home-content">
	<div class="text">
		<h3><%= post.title %></h3>
		<p><%= link_to post.user.name, user_path(post.user_id) %></p>
	</div>
</div>

	<% end %>
