#login-body {
	font-family: 'Droid Serif', serif;
	background-image: url(http://art.ngfiles.com/images/370000/370313_audiolion_neon-grid.jpg);
	background-position: fixed;
	background-size: 100%;
	color: white;
	z-index: -1;
}

#login-header {
	font-family: 'Quicksand', sans-serif;
	background: #FFFFFF;
	box-shadow: 0px 2px 5px #888888;
	height: 120px;
	min-width: 1000px;
}

#site-name-login {
	font-family: 'Monoton', cursive;
	color: #EF3054;
	font-size: 5em;
	width: 485px;
	margin: 0 auto;
}